*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 40px;
}
h1{
    text-align: center;
}
.badge{
    background-color: #ffc107;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.row_first{
    display: flex;
    justify-content: space-around;
}
.mb-3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-range {
    width: 100%;
    height: calc(1rem + .4rem);
    padding: 0;
    background-color: black;
}
.btn{
    padding: 5px;
    background-color: #ffc107;
}